<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto-perfil.jpg" class="img-fluid" id="foto-de-perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">
            Castillón Alexis Franco
        </p>
        <p>
            Full Stack Developer Jr
        </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>
                Soy un estudiante de Programación Web Fullstack, en los cuales adquirí los conocimiento en SQL, HTML, CSS, JS y Node JS. Me gustaría formar parte de una empresa y trabajar en el área de desarrollo. Entre mis competencias se encuentran la buena predisposición, la adaptación a varias tareas y responsabilidad
            </p>
        </span>
    </div>
</div>