<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Desarrollo web freelance </h2>  <h3> (2021- 2022)</h3>
            </li>
            <p>
              Desarrollo de paginas web mediante Wordpress y plugins 
            </p>
            <li>
                <h2>Bacope s.a</h2>  <h3> (2021- 2022)</h3>
            </li>
            <p>
                Operario en linea de produccion, reparacion y armados de dispenser de agua
            </p>
            
        </ul>
    </div>
</div>