<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
                <a href="https://www.linkedin.com/in/alexis-franco-castillon-0564a01b1/" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://twitter.com/Alexisc73619549" target="_blank"><img src="../../../assets/twitter.png" id="twitter"></a>
                <a href="https://www.instagram.com/franco.castillon/" target="_blank"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href="https://github.com/alexiscastillon" target="_blank"><img src="../../../assets/github.png" id="github"></a>
                <a href="https://www.facebook.com/profile.php?id=100082046284069" target="_blank"><img src="../../../assets/facebook.png" id="facebook"></a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
        </div>
    </div>
</div>


