<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
           
            <li>
                <h2>Instituto de Formación Tecnica Superior N° 11 </h2>  <h3>(2022- cursando)</h3>
            </li>
            <p>
                Tecnicatura superior en desarrollo de software 
            </p>
            <li>
                <h2>Bootcamp GyL Group</h2> <h3> (2022- cursando)</h3>
            </li>
            <p>
                Programacion web Full Stack Java 
            </p>
            <li>
                <h2>Udemy</h2>  <h3> (2013- 2018)</h3>
            </li>
            <p>
                Master en CSS: Responsive, SASS, Flexbox, Grid y Bootstrap

            </p>
        </ul>
    </div>
</div>